<div class="center hero-unit">

  <h1>Welcome to the Sample App</h1>
  <h2>
    This is the home page for the sample application.
  </h2>
</div>

<ul class="nav nav-justified" type="">
  <li><%= link_to "Project", projects_path %></li>
  <li><%= link_to "Teams", teams_path %></li>
  <li><%= link_to "Tasks", tasks_path %></li>
  <li><%= link_to "Posts", posts_path %></li>
  <li><%= link_to "Users", users_path %></li>
</ul>
