<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @task.title %>
</p>

<p>
  <strong>Status:</strong>
  <%= @task.status %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @task.start_date %>
</p>

<p>
  <strong>Due date:</strong>
  <%= @task.due_date %>
</p>

<p>
  <strong>Estimation:</strong>
  <%= @task.estimation %>
</p>
<p>
  <strong>Tasks posts</strong>
  <%= link_to pluralize(@task.posts.size, 'post'), task_posts_path(:task_id => @task) %>
</p>

<%= link_to 'Edit', edit_task_path(@task) %> |
<%= link_to 'Back', project_tasks_path(:project_id => @task.project.id) %>
