<h5>
  <strong>Title:</strong>
  <%= @task.title %>
</h5>

<h5>
  <strong>Status:</strong>
  <%= @task.status %>
</h5>
<h5>
  <strong>User:</strong>
  <%= @task.user.email %>
</h5>
<h5>
  <strong>Start date:</strong>
  <%= @task.start_date %>
</h5>

<h5>
  <strong>Due date:</strong>
  <%= @task.due_date %>
</h5>

<h5>
  <strong>Estimation:</strong>
  <%= @task.estimation %>
</h5>
<h5>
  <strong>Tasks posts</strong>
  <%= link_to pluralize(@task.posts.size, 'post'), task_posts_path(:task_id => @task) %>
</h5>
<% if can? :update, Task %>
    <%= link_to 'Edit', edit_task_path(@task) %> |
<% end %>