<p id="notice"><%= notice %></p>

<h1>Listing Users</h1>

<table class = "features-table">
  <thead>
    <tr>
      <td>Email</td>
      <td>First name</td>
      <td>Last name</td>
      <td>Team</td>
      <td align="right">Role</td>
      <td colspan="3"></td>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.email %></td>
        <td><%= user.first_name %></td>
        <td><%= user.last_name %></td>
        <td><%= user.team %></td>
        <td><%= user.role.name %></td>
        <td><%= link_to 'Show', user %></td>
        <td><%= link_to 'Edit', edit_user_path(user) %></td>
        <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if can? :create, User %>
    <%= link_to 'New User', new_user_path %>
<% end %>

