<p id="notice"><%= notice %></p>

<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>
<p>
  <strong>Users comments</strong>
  <%= link_to pluralize(@user.comments.size, 'comment'), user_comments_path(:user_id => @user) %>
</p>
<p>
  <strong>Team:</strong>
  <%= @user.team.name %>
</p>



<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', team_users_path(:team_id => @user.team.id) %>
