<h4>
  <strong>Email:</strong>
  <%= @user.email %>
</h4>

<h4>
  <strong>First name:</strong>
  <%= @user.first_name %>
</h4>

<h4>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</h4>
<h4>
  <strong>Users comments</strong>
  <%= link_to pluralize(@user.comments.size, 'comment'), user_comments_path(:user_id => @user) %>
</h4>
<h4>
  <strong>Users tasks</strong>
  <%= link_to pluralize(@user.tasks.size, 'task'), user_tasks_path(:user_id => @user) %>
</h4>
<h4>
  <strong>Team:</strong>
  <%= @user.team %>
</h4>

<%= link_to 'Edit', edit_user_path(@user) %> |

