<h5>
  <strong>Name:</strong>
  <%= @project.name %>
</h5>

<h5>
  <strong>Summary:</strong>
  <%= @project.summary %>
</h5>

<h5>
  <strong>Start date:</strong>
  <%= @project.start_date %>
</h5>

<h5>
  <strong>End date:</strong>
  <%= @project.end_date %>
</h5>
<h5>
  <strong>Tasks</strong>
  <%= link_to pluralize(@project.tasks.size, 'task'), project_tasks_path(:project_id => @project) %>
</h5>
<%= link_to 'Edit', edit_project_path(@project) %> |
<%=link_to 'New Task', new_project_task_path(:project_id => @project) %>
